{{define "navbar"}}
    <a class="p-2 text-dark" href="#">Galleries</a>
    <a class="btn btn-outline-primary" href="/auth/register">Sign up</a>
    <a class="btn btn-outline-primary" href="/auth/login">Login</a>

{{end}}